<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>پرداخت آنلاین</title>
    
</head>
<body>

<div class="ContentWrapper">
    <div class="header">
        <div class="logo"></div>
    </div>
    
</div>

<div>
    <a href="<%= url %>">پرداخت رزرو</a>
    <a href="https://reserve.qomstp.ir/panel">پنل کاربری</a>
</div> 
</body>
</html>




