<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>پرداخت ناموفق</title>
    
</head>
<body>

<div class="ContentWrapper">
    <div class="header">
        <div class="logo"></div>
    </div>
</div> 
<div>
    <h1>پرداخت ناموفق</h1>
    <a href="https://reserve.qomstp.ir/profile">پنل کاربری</a>
</div>
</body>
</html>




