.hsg-nav__wrapper{
  position: relative;
}
.stickyHeader{
  position: sticky;
  top: 0;
}
#visibleMenu{
  opacity: 100;
  visibility: visible;
}
.twolineText{
  display: block;
  display: -webkit-box;
  height: 2.7rem;
  font-size: 1rem;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
.fourlineText{
  display: block;
  display: -webkit-box;
  max-height: 5.2rem;
  font-size: 1rem;
  line-height: 1.3;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
.ideaIcon{
  margin: auto 10px;
}
.socialIcon{
  font-size: 30px;
}
.logo{
  display: flex;
  min-width: 170px;
  align-items: center;
}
.logo img{
  width: 180px !important;
  object-fit: contain;
  height: 60px !important;
}
.activeMenu{
  opacity: 100;
  visibility: visible;
  width: auto;
  height: auto;
  overflow: clip;
}
.ReportMainHolder{
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}
.ReportFilter{
  width: 25%;
  padding: 0 1%;
}
.ReportHolder{
  width: 75%;
  background-color: var(--main-color);
  padding: 0 3%;
}

.accItem{
  border-right: 2px solid #ff5c35;
  margin-bottom: 5px;
  padding: 0;
  cursor: pointer;
  transition: .1s all;
}
.accItem:hover{
  border-right: 5px solid #ff5c35;
  background-color: #eee;
  transition: .1s all;
}


@media (max-width: 568px) {
  .ReportMainHolder{
    display: grid;
  justify-content: inherit;
  }
  .ReportFilter{
    width: 100%;
  padding: 2% 5%;
  }
  .ReportHolder{
    width:100%;
  }
}
.colSpan{
  display: flex;
  gap:15px;
  justify-content: space-between;
}
.col90{
  width: 90%;
  margin: auto;
}
.col50{
  width: 90%;
  margin: 10px auto;
}
.liCircle{
  list-style: circle;
}
.activeMenu{
  border-right: 15px solid #003eee !important;
}
.imgInline{
  display: flex;
  justify-content: space-evenly;
}
.fullWidth{
  width: 95%;
  margin: 10px auto;
}
.profileHolder{
  display: flex;
}
.SideBar{
  width: 20%;
  min-width:180px;
}
.MenuSideBar{
  padding: 15px;
  margin-top: 50px;
}
.MenuItem{
  border-right: 5px solid #007aff;
  margin-bottom: 5px;
  padding: 5px 15px;
  transition: .3s all;
  cursor: pointer;
}
.MenuItem:hover{
  background-color: #007aff;
  color:#fff;
  transition: .3s all;
}

.profileForm{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.profileInput{
  width: 40%;
}
.buttonHolder{
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.cancelBtn{
  border-color: orangered;
}
.cancelBtn:hover{
  background-color: orangered;
}
.checkSeat{
  margin: auto;
}
.seatPanel{
  text-align: center;
}
.seatTabHolder{
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}
.disableBtn{
  background-color: silver;
  cursor:not-allowed;
}
.Calendar{
  width: 100% !important;
  margin-bottom: 20px !important;
}

.inputStyle {
  width: 3rem !important;
  height: 3rem;
  margin: 0 1rem;
  direction: ltr !important;
  font-size: 2rem;
  border-radius: 4px;
  color: #333;
  border: 1px solid rgba(0,0,0,.3);
}
.product-core-header__text p {
  padding: 0 10px;
}
.borderHero{
  border:1px solid #eee
}