.hsg-nav__wrapper{
  position: relative;
}
.stickyHeader{
  position: sticky;
  top: 0;
}
#visibleMenu{
  opacity: 100;
  visibility: visible;
}
a{
  text-decoration:none;
}
.colSpan{
  display: flex;
  gap:15px;
  justify-content: space-between;
}
.col90{
  width: 90%;
  margin: auto;
}
.col50{
  width: 90%;
  margin: 10px auto;
}
.liCircle{
  list-style: circle;
}
.activeMenu{
  border-right: 15px solid #003eee !important;
}
.imgInline{
  display: flex;
  justify-content: space-evenly;
}
.fullWidth{
  width: 95%;
  margin: 10px auto;
}
.profileHolder{
  display: flex;
}
.SideBar{
  width: 20%;
  min-width:180px;
}
.MenuSideBar{
  padding: 15px;
  margin-top: 50px;
}
.MenuItem{
  border-right: 5px solid #007aff;
  margin-bottom: 5px;
  padding: 5px 15px;
  transition: .3s all;
  cursor: pointer;
}
.MenuItem:hover{
  background-color: #007aff;
  color:#fff;
  transition: .3s all;
}

.profileForm{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.profileInput{
  width: 40%;
}
.buttonHolder{
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.cancelBtn{
  border-color: orangered;
}
.cancelBtn:hover{
  background-color: orangered;
}
.checkSeat{
  margin: auto;
}
.seatPanel{
  text-align: center;
}
.seatTabHolder{
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}
.disableBtn{
  background-color: silver;
  cursor:not-allowed;
}
.Calendar{
  width: 100% !important;
  margin-bottom: 20px !important;
}

.inputStyle {
  width: 3rem !important;
  height: 3rem;
  margin: 0 1rem;
  direction: ltr !important;
  font-size: 2rem;
  border-radius: 4px;
  color: #333;
  border: 1px solid rgba(0,0,0,.3);
}
.MuiMenu-paper{
  background-color: #fff !important;
}
.MuiSelect-select{
  font-family: vazir;
}
.MuiMenuItem-root, .MuiSelect-selectMenu{
  font-family: vazir !important;
}
.private-form__inlinehelp{
  float:left;
}

.createPageHolder{
  margin: 200px auto;
  width: 500px;
  text-align: center;
  
}
.createBtn{
 padding: 5px 30px;
 border-radius: 5px;
 border: none;
 background-color:#003eee;
 color: #fff;
 font-size: 18px;
 margin: auto;
}
.createBtn:hover{
  background-color: #007aff;
}
.changeAlert{
  color:orangered;
  display: block;
  margin-top: 20px;
}
.fourlineText, .twolineText {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fourlineText {
  -webkit-line-clamp: 4;
  max-height: 5.2rem;
  min-height: 5.2rem;
}
.twolineText {
  -webkit-line-clamp: 2;
  height: 2.7rem;
}

.onelineText {
  -webkit-line-clamp: 2;
  height: 1.4rem;
}
.boxTextPlace{
  float:left;
}
.boxTextPlace{
  background-color: #fef4ea;
  padding: 5px 10px;
  border:1px solid #e1e1e1;
  width: 120px;
  -webkit-line-clamp: 2;
  height: 2rem;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  margin-top: 8px;
  border-radius: 5px;
}
.img-responsive{
  margin: auto;
  width: 100%;
  height: 80px;
  object-fit: contain;
}
.infoTable{
  border-collapse: separate;
  border-spacing: 3px;
}
.infoTable tr{
  line-height: 2;
}
.infoTable th{
  text-align: right;
  border: 1px solid #eee;
  padding: 0 8px;
  border-radius: 2px;
}
.mySliderHolder{
  padding: 50px 0;
  position: relative;
}
.mySlider{
  padding: 120px 70px;
  overflow: hidden;
}
.topSquare{
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: #f39200;
  position: absolute;
}
.bottomSquare{
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: #0d6efd;
  position: absolute;
}
@media(min-width: 800px) {
.topSquare{
  top:25px;
  right:25px;
}
.bottomSquare{
  bottom:25px;
  left:25px;
}
}
@media(min-width: 1200px) {
.topSquare{
  top:25px;
  right:3%;
}
.bottomSquare{
  bottom:25px;
  left:3%;
}
}
.productIcon{
  width: 35px;
  height: 35px;
  margin-left:5px;
}
p{
  text-align: justify;
}
.width50{
  width: 50% !important;
}
.max1280{
  max-width: 1280px;
  margin: auto;
}