a.cta_button {
  -moz-box-sizing:content-box !important;
  -webkit-box-sizing:content-box !important;
  box-sizing:content-box !important;
  vertical-align:middle
}
.hs-breadcrumb-menu {
  list-style-type:none;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px
}
.hs-breadcrumb-menu-item {
  float:left;
  padding:10px 0px 10px 10px
}
.hs-breadcrumb-menu-divider:before {
  content:'›';
  padding-left:10px
}
.hs-featured-image-link {
  border:0
}
.hs-featured-image {
  float:right;
  margin:0 0 20px 20px;
  max-width:50%
}
@media (max-width: 568px) {
  .hs-featured-image {
    float:none;
    margin:0;
    width:100%;
    max-width:100%
  }
}
.hs-screen-reader-text {
  clip:rect(1px, 1px, 1px, 1px);
  height:1px;
  overflow:hidden;
  position:absolute !important;
  width:1px
}


a:focus-visible {
  outline-offset:2px;
  outline:2px solid var(--cl-color-focus-01, #0068b1)
}

.wf-page-header {
  overflow:hidden;
  --wf-page-header-tagline-background-color: #ffffff;
  --wf-page-header-content-wrapper-margin-right: 45%;
  --wf-page-header-content-wrapper-padding: 0 1rem 0 0
}
.wf-page-header.-light {
  --wf-page-header-tagline-background-color: #eaf0f6
}
.wf-page-header.-neutral {
  --wf-page-header-tagline-background-color: #ffffff
}
.wf-page-header.-dark {
  --wf-page-header-tagline-background-color: #213343
}
.wf-page-header.-white {
  --wf-page-header-tagline-background-color: #f6f9fc
}
.wf-page-header__wrapper {
  position:relative;
  display:flex;
  flex-direction:column;
  gap:1rem;
}
.wf-page-header__content-wrapper{
  z-index: 100;
    background-color: rgba(255,255,255,.8);
    padding: 20px;
    border-radius: 15px;
}
@media(min-width: 900px) {
  .wf-page-header__wrapper {
    flex-direction:row
  }
}
@media(max-width: 599px) {
  .wf-page-header__content-wrapper :first-child {
    margin-top:0
  }
}
@media(min-width: 900px) {
  .wf-page-header__content-wrapper {
    margin-right:var(--wf-page-header-content-wrapper-margin-right);
    padding:30px;
  }
}
@media(min-width: 1080px) {
  .wf-page-header__content-wrapper {
    --wf-page-header-content-wrapper-margin-right: 46%;
    --wf-page-header-content-wrapper-padding: 2rem 1rem 2rem 0;
    
  }
}
.wf-page-header__content-wrapper .wf-page-header__tagline.-shaded-background {
  background:var(--wf-page-header-tagline-background-color, #eaf0f6);
  border:1px solid var(--cl-color-border-03);
  border-radius:.25rem;
  display:inline-block;
  font-size:.875rem;
  font-weight:500;
  padding:.25rem .5rem
}
.wf-page-header__content-wrapper .wf-page-header__heading {
  margin:0
}
.wf-page-header__content-wrapper .wf-page-header__cta-wrapper {
  display:flex;
  flex-direction:column;
  gap:1.5rem
}
@media(min-width: 600px) {
  .wf-page-header__content-wrapper .wf-page-header__cta-wrapper {
    flex-wrap:wrap;
    flex-direction:row
  }
}
@media(min-width: 1080px) {
  .wf-page-header__content-wrapper .wf-page-header__cta-wrapper {
    flex-wrap:nowrap;
    white-space:nowrap
  }
}
.wf-page-header__image-wrapper {
  display:flex;
  justify-content:center;
  align-items:center
}
.wf-page-header__image-wrapper img{
  width: 100%;
}
@media(min-width: 900px) {
  .wf-page-header__image-wrapper {
    justify-content:left;
    position:absolute;
    top:50%;
    right:0;
    left:auto;
    width:100%;
    height:100%;
    translate:0 -50%
  }
}
@media(min-width: 1080px) {
  .wf-page-header__image-wrapper.-right-align {
    right:-50px
  }
}
.wf-page-header__image-wrapper .wf-page-header__image {
  max-width:75%;
  height:auto
}
@media(min-width: 900px) {
  .wf-page-header__image-wrapper .wf-page-header__image {
    bottom:0;
    position:relative;
    object-fit:contain;
    max-width:90%
  }
}
@media(min-width: 1080px) {
  .wf-page-header__image-wrapper .wf-page-header__image {
    height:auto;
    max-width:630px
  }
}

.cl-button {
  --cl-button-background:var(--cl-color-hubspot-brand-01,#ff5c35);
  --cl-button-hover-background:var(--cl-color-hover-brand-01,#e04826);
  --cl-button-pressed-background:var(--cl-color-pressed-brand-01,#b3361d);
  --cl-button-disabled-background:var(--cl-color-disabled-02,#eaf0f6);
  --cl-button-border-color:transparent;
  --cl-button-color:var(--cl-color-text-on-color-01,#fff);
  --cl-button-hover-color:var(--cl-button-color);
  --cl-button-pressed-color:var(--cl-button-hover-color);
  --cl-button-disabled-color:var(--cl-color-disabled-01,#99afc4);
  --cl-button-font-size:1rem;
  --cl-button-line-height:1.75;
  --cl-button-padding:0.75rem 1.5rem;
  background:var(--cl-button-background);
  border:2px solid;
  border-color:var(--cl-button-border-color);
  border-radius:8px;
  color:var(--cl-button-color);
  cursor:pointer;
  display:inline-block;
  font-size:var(--cl-button-font-size);
  font-weight:500;
  line-height:var(--cl-button-line-height);
  padding:var(--cl-button-padding);
  text-align:center;
  text-decoration:none;
  transition:background-color .15s linear,color .15s linear
}
.cl-button:focus-visible,
.cl-button:hover {
  background:var(--cl-button-hover-background);
  color:var(--cl-button-hover-color);
  text-decoration:none
}
.cl-button:active {
  background:var(--cl-button-pressed-background);
  color:var(--cl-button-pressed-color)
}
.cl-button:focus-visible {
  outline:2px solid var(--cl-color-focus-01,#0068b1);
  outline-offset:2px
}
.-disabled.cl-button,
.cl-button:disabled,
[aria-disabled=true].cl-button {
  background:var(--cl-button-disabled-background);
  border-color:transparent;
  color:var(--cl-button-disabled-color);
  cursor:not-allowed
}
.high-contrast .cl-button {
  color:var(--cl-button-color)
}
.high-contrast .cl-button:focus-visible,
.high-contrast .cl-button:hover {
  color:var(--cl-button-hover-color)
}
.high-contrast .cl-button:active {
  color:var(--cl-button-pressed-color)
}
.cl-button.-primary {
  --cl-button-background:#ff5c35;
  --cl-button-hover-background:#e04826;
  --cl-button-pressed-background:#b3361d;
  --cl-button-color:#fff
}
.high-contrast .cl-button.-primary {
  --cl-button-background:#180bb1;
  --cl-button-hover-background:#caebff;
  --cl-button-pressed-background:var(--cl-button-hover-background);
  --cl-button-hover-color:#180bb1
}
.cl-button.-dark.-primary,
.cl-button.-primaryDark {
  --cl-button-background:#fff;
  --cl-button-hover-background:#b6c7d6;
  --cl-button-pressed-background:#99afc4;
  --cl-button-color:#192733
}
.high-contrast .cl-button.-dark.-primary,
.high-contrast .cl-button.-primaryDark {
  --cl-button-hover-color:var(--cl-button-color)
}
.cl-button.-secondary {
  --cl-button-background:#fff;
  --cl-button-hover-background:#ffebe6;
  --cl-button-pressed-background:#ffcec2;
  --cl-button-border-color:currentColor;
  --cl-button-color:#ff5c35;
  --cl-button-hover-color:var(--cl-color-hover-brand-01,#e04826);
  --cl-button-pressed-color:var(--cl-color-pressed-brand-01,#b3361d)
}
.high-contrast .cl-button.-secondary {
  --cl-button-background:#edf8ff;
  --cl-button-hover-background:#caebff;
  --cl-button-pressed-background:var(--cl-button-hover-background);
  --cl-button-color:#180bb1;
  --cl-button-hover-color:var(--cl-button-color);
  --cl-button-pressed-color:var(--cl-button-hover-color)
}
.cl-button.-dark.-secondary,
.cl-button.-secondaryDark {
  --cl-button-background:#192733;
  --cl-button-hover-background:#2e475d;
  --cl-button-pressed-background:#3e5974;
  --cl-button-border-color:#fff;
  --cl-button-color:#fff;
  --cl-button-hover-color:var(--cl-button-color);
  --cl-button-pressed-color:var(--cl-button-hover-color)
}
.cl-button.-tertiary {
  --cl-button-background:var(--cl-color-container-inverse-01,#192733);
  --cl-button-hover-background:var(--cl-color-hover-inverse-01,#2e475d);
  --cl-button-pressed-background:var(--cl-color-pressed-inverse-01,#3e5974);
  --cl-button-color:var(--cl-color-text-on-color-01,#fff)
}
.cl-button.-small {
  --cl-button-font-size:0.875rem;
  --cl-button-line-height:1.57;
  --cl-button-padding:0.5rem 1rem
}
.cl-button.-medium {
  --cl-button-font-size:1rem;
  --cl-button-line-height:1.75;
  --cl-button-padding:0.75rem 1.5rem
}
.cl-button.-large {
  --cl-button-font-size:1.125rem;
  --cl-button-line-height:1.78;
  --cl-button-padding:1rem 2.5rem
}

:root {
  --wf-product-cards-container-gap:1.5rem;
  --wf-product-cards-heading-font-size:var(--font-size-h3);
  --wf-product-cards-heading-font-weight:var(--font-weight-medium);
  --wf-product-cards-heading-line-height:var(--line-height-h3);
  --wf-product-cards-heading-trademark-font-weight:var(--font-weight-light);
  --wf-product-cards-heading-image-size:30px;
  --wf-product-cards-description-font-size:var(--font-size-small);
  --wf-product-cards-feature-list-border-top:1px solid var(--gray-20);
  --wf-product-cards-feature-list-heading-font-size:var(--font-size-h6);
  --wf-product-cards-feature-list-heading-font-weight:var(--font-weight-light);
  --wf-product-cards-feature-list-heading-line-height:var(--line-height-h6);
  --wf-product-cards-feature-list-items-font-size:var(--font-size-micro);
  --wf-product-cards-feature-list-items-font-weight:var(--font-weight-medium);
  --wf-product-cards-feature-list-items-icon-size:1.35rem;
  --wf-product-cards-feature-list-items-icon-bg-color:var(--light-theme-hubspot-brand-01);
  --wf-product-cards-ribbon-bg-color:var(--green-30);
  --wf-product-cards-ribbon-color:var(--dark-theme-text-01);
  --wf-product-cards-ribbon-font-weight:var(--font-weight-demi-bold);
  --wf-product-cards-ribbon-font-size:0.625rem;
  --wf-product-cards-ribbon-border-radius:1.25rem 0.375rem 0.375rem 1.25rem
}
.high-contrast {
  --wf-product-cards-feature-list-items-icon-bg-color:var(--abbey);
  --wf-product-cards-ribbon-bg-color:var(--blue-stone);
  --wf-product-cards-ribbon-color:var(--dew)
}
.wf-product-cards {
  display:flex;
  flex-wrap:wrap;
  width:100%
}
.wf-product-cards__container {
  --wf-product-cards-container-gap-calc:calc(var(--wf-product-cards-container-gap)*2);
  align-items:stretch;
  display:grid;
  gap:var(--wf-product-cards-container-gap);
  grid-auto-rows:auto;
  grid-template-columns:repeat(auto-fill,minmax(calc(33% - var(--wf-product-cards-container-gap-calc)),1fr))
}
@media (width <= 1080px) {
  .wf-product-cards__container {
    grid-template-columns:repeat(auto-fill,minmax(calc(50% - 1rem),1fr))
  }
}
@media (width < 600px) {
  .wf-product-cards__container {
    grid-template-columns:1fr
  }
}
.wf-product-cards__card {
  padding:2rem
}
.wf-product-cards__card.cl-card.-hoverable,
.wf-product-cards__card.cl-card.-hoverable:hover {
  transition:all .3s ease-in-out
}
.wf-product-cards__card.-hoverable:hover {
  transform:scale(1.014)
}
.wf-product-cards__content {
  display:flex;
  flex-direction:column;
  height:100%
}
.wf-product-cards__heading--wrapper {
  align-items:center;
  display:flex
}
.wf-product-cards__heading--image {
  display:inline-block;
  height:var(--wf-product-cards-heading-image-size);
  margin-left:.625rem;
  width:var(--wf-product-cards-heading-image-size)
}
.wf-product-cards__heading {
  font-size:var(--wf-product-cards-heading-font-size);
  font-weight:var(--wf-product-cards-heading-font-weight);
  line-height:var(--wf-product-cards-heading-line-height)
}
.wf-product-cards__heading--trademark {
  font-weight:var(--wf-product-cards-heading-trademark-font-weight)
}
.wf-product-cards__description {
  flex:1 0 auto;
  font-size:var(--wf-product-cards-description-font-size)
}
.wf-product-cards__features {
  border-top:var(--wf-product-cards-feature-list-border-top);
  margin-top:1.5rem
}
.wf-product-cards__feature-list--heading {
  font-size:var(--wf-product-cards-feature-list-heading-font-size);
  font-weight:var(--wf-product-cards-feature-list-heading-font-weight);
  line-height:var(--wf-product-cards-feature-list-heading-line-height);
  margin-block:1rem
}
.wf-product-cards__features ul li {
  font-size:var(--wf-product-cards-feature-list-items-font-size);
  font-weight:var(--wf-product-cards-feature-list-items-font-weight);
  line-height:2.75
}
.wf-product-cards__feature-list--items ul li .cl-icon {
  display:inline-block;
  height:var(--wf-product-cards-feature-list-items-icon-size);
  margin-right:.375rem;
  vertical-align:middle;
  width:var(--wf-product-cards-feature-list-items-icon-size)
}
.wf-product-cards__features ul li .cl-icon [href="#check-circle"] {
  fill:var(--wf-product-cards-feature-list-items-icon-bg-color)
}
.wf-product-cards__cta-wrapper {
  display:block;
  padding-top:1.25rem;
  text-align:center
}
.wf-product-cards__cta.cl-button {
  width:100%
}
.wf-product-cards__ribbon {
  background-color:var(--wf-product-cards-ribbon-bg-color);
  border-radius:var(--wf-product-cards-ribbon-border-radius);
  color:var(--wf-product-cards-ribbon-color);
  font-size:var(--wf-product-cards-ribbon-font-size);
  font-weight:var(--wf-product-cards-ribbon-font-weight);
  line-height:1.25rem;
  text-size-adjust:100%;
  padding:0 .375rem 0 .625rem;
  position:absolute;
  right:-4px;
  text-transform:uppercase;
  top:1rem
}

:root {
  --cl-card-border-width:0px;
  --cl-card-border-color:transparent
}
.cl-card {
  --cl-card-background-color:var(--cl-color-container-01,#fff);
  --cl-card-hover-background-color:var(--cl-color-hover-01,#eaf0f6);
  --cl-card-text-color:var(--cl-color-text-01,#213343);
  background:var(--cl-card-background-color);
  border:var(--cl-card-border-width,0) solid var(--cl-card-border-color,transparent);
  border-radius:8px;
  color:var(--cl-card-text-color);
  position:relative
}
.cl-card.-container-01 {
  --cl-card-background-color:var(--cl-color-container-01,#fff);
  --cl-card-hover-background-color:var(--cl-color-hover-01,#eaf0f6)
}
.cl-card.-container-02 {
  --cl-card-background-color:var(--cl-color-container-02,#f6f9fc);
  --cl-card-hover-background-color:var(--cl-color-hover-02,#eaf0f6)
}
.cl-card.-container-03 {
  --cl-card-background-color:var(--cl-color-container-03,#eaf0f6);
  --cl-card-hover-background-color:var(--cl-color-hover-03,#b6c7d6)
}
.cl-card.-container-inverse-01 {
  --cl-card-background-color:var(--cl-color-container-inverse-01,#192733);
  --cl-card-text-color:var(--cl-color-text-on-color-01,#fff)
}
.cl-card.-border {
  --cl-card-border-width:1px;
  --cl-card-border-color:var(--cl-color-border-03,#dbe4ed)
}
.cl-card.-edge-left,
.cl-card.-edge-top {
  --cl-card-edge-color:var(--cl-card-edge-color-light)
}
.-dark.cl-card.-edge-left,
.-dark.cl-card.-edge-top {
  --cl-card-edge-color:var(--cl-card-edge-color-dark)
}
.cl-card.-edge-left:before,
.cl-card.-edge-top:before {
  background:var(--cl-card-edge-color);
  content:"";
  display:block;
  inset:calc(var(--cl-card-border-width)*-1);
  position:absolute
}
.cl-card.-edge-left:before {
  border-bottom-left-radius:inherit;
  border-top-left-radius:inherit;
  width:12px
}
.cl-card.-edge-top:before {
  border-top-left-radius:inherit;
  border-top-right-radius:inherit;
  height:12px
}
.cl-card.-green,
.cl-card.-oz {
  --cl-card-edge-color-light:#4fb06d;
  --cl-card-edge-color-dark:#cae7d3
}
.cl-card.-lorax,
.cl-card.-tangerine {
  --cl-card-edge-color-light:#ff5c35;
  --cl-card-edge-color-dark:#ffcec2
}
.cl-card.-calypso,
.cl-card.-teal {
  --cl-card-edge-color-light:#0fbfbf;
  --cl-card-edge-color-dark:#b7ecec
}
.cl-card.-marigold,
.cl-card.-yellow {
  --cl-card-edge-color-light:#ffbc4b;
  --cl-card-edge-color-dark:#ffebc9
}
.cl-card.-hoverable:hover {
  background:var(--cl-card-hover-background-color);
  box-shadow:0 0 0 1px var(--cl-card-border-color)
}

:root {
  --wf-company-story-heading-font-size:var(--font-size-h2);
  --wf-company-story-heading-font-weight:var(--font-weight-demi-bold);
  --wf-company-story-heading-line-height:var(--line-height-h2);
  --wf-company-story-heading-reduce-font-size:var(--font-size-h3);
  --wf-company-story-heading-reduce-font-weight:var(--font-weight-medium);
  --wf-company-story-heading-reduce-line-height:var(--line-height-h3);
  --wf-company-story-play-button-dark:var(--gray-80);
  --wf-company-story-play-button-dark-active:var(--gray-90);
  --wf-company-story-play-button-dark-focus-outline-width:2px;
  --wf-company-story-play-button-dark-focus-outline-color:var(--dark-theme-focus-01)
}
.wf-company-story .wf-section-wrapper {
  display:flex;
  flex-direction:column;
  gap:2.5rem
}
.wf-company-story-header {
  font-size:var(--wf-company-story-heading-font-size);
  font-weight:var(--wf-company-story-heading-font-weight);
  line-height:var(--wf-company-story-heading-line-height);
  margin:0;
  text-align:center
}
.wf-company-story_media-video iframe {
  aspect-ratio:16/9;
  height:auto;
  width:100%
}
.wf-company-story_media-video {
  display:none;
  width:100%
}
.-open .wf-company-story_media-video {
  display:block
}
.wf-company-story_media>iframe,
.wf-company-story_media>img,
.wf-company-story_media>video {
  height:100%;
  object-fit:contain;
  object-position:top;
  width:100%
}
.wf-company-story_media>iframe,
.wf-company-story_media>video {
  aspect-ratio:16/9
}
.wf-company-story_rich-text-heading {
  font-size:var(--wf-company-story-heading-font-size);
  font-weight:var(--wf-company-story-heading-font-weight);
  line-height:var(--wf-company-story-heading-line-height);
  margin:0
}
.wf-company-story_rich-text-heading.wf-company-story_rich-text-heading-reduce-size {
  font-size:var(--wf-company-story-heading-reduce-font-size);
  font-weight:var(--wf-company-story-heading-reduce-font-weight);
  line-height:var(--wf-company-story-heading-reduce-line-height)
}
@media (width < 600px) {
  :root {
    --wf-company-story-heading-font-size:var(--font-size-h3);
    --wf-company-story-heading-line-height:var(--line-height-h3);
    --wf-company-story-heading-reduce-font-size:var(--font-size-h4);
    --wf-company-story-heading-reduce-line-height:var(--line-height-h4)
  }
}
.wf-company-story_media {
  align-self:center;
  flex:1 1 0;
  position:relative;
  width:100%
}
.wf-company-story_media-modal-container {
  max-width:1030px;
  position:relative;
  width:100%
}
.wf-company-story_rich-text {
  align-self:center;
  flex:1 1 0
}
@media (width < 600px) {
  .wf-company-story_rich-text {
    margin-top:1.5rem
  }
}
.wf-company-story_grid {
  gap:30px
}
@media (width >= 600px) {
  .wf-company-story_grid {
    display:flex;
    flex-direction:row
  }
}
.wf-company-story_grid.-small-media .wf-company-story_media {
  flex:1 1 0
}
.wf-company-story_grid.-large-media .wf-company-story_media,
.wf-company-story_grid.-small-media .wf-company-story_rich-text {
  flex:2 1 0
}
.wf-company-story_grid.-large-media .wf-company-story_rich-text {
  flex:1 1 0
}
@media (width >= 600px) {
  .wf-company-story_grid.-rich-text-first {
    flex-direction:row-reverse
  }
}
.wf-company-story_cta-buttons {
  align-items:flex-start;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  margin-top:24px
}
@media (width >= 900px) {
  .wf-company-story_cta-buttons {
    align-items:center;
    flex-direction:row
  }
  .wf-company-story_cta-buttons>.wf-company-story_cta-button:first-child {
    margin-right:24px
  }
}
.wf-company-story_cta-buttons .wf-company-story_cta-button {
  margin-bottom:16px;
  text-align:center;
  width:100%
}
.wf-company-story_cta-buttons .wf-company-story_cta-button .cl-textLink {
  padding:0
}
@media (width >= 600px) {
  .wf-company-story_cta-buttons .wf-company-story_cta-button {
    width:auto
  }
}
.wf-company-story .wf-company-story_play-button {
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%)
}
.wf-company-story_play-button.-dark {
  background-color:var(--wf-company-story-play-button-dark)
}
.wf-company-story_play-button.-dark:active {
  background-color:var(--wf-company-story-play-button-dark-active)
}
.wf-company-story_play-button.-dark:focus-visible {
  outline:var(--wf-company-story-play-button-dark-focus-outline-width) solid var(--wf-company-story-play-button-dark-focus-outline-color)
}
.wf-company-story .wf-company-story_media[data-cl-modal] {
  cursor:pointer
}

.cl-playButton {
  background-color:#ff5c35;
  background-image:url(Play.svg);
  background-position-x:55%;
  background-position-y:50%;
  background-repeat:no-repeat;
  border:none;
  border-radius:50%;
  cursor:pointer
}
.cl-playButton:focus-visible,
.cl-playButton:hover {
  background-color:#e04826;
  opacity:1
}
.cl-playButton:active {
  background-color:#b3361d;
  opacity:1
}
.cl-playButton:focus-visible {
  outline:2px solid #0068b1;
  outline-offset:2px
}
@media(min-width:600px) {
  .cl-playButton {
    opacity:.8;
    transition:opacity .3s ease-in-out
  }
  .high-contrast .cl-playButton {
    opacity:1
  }
}
.cl-playButton.-large {
  background-size:2rem;
  height:8rem;
  width:8rem
}
.cl-playButton.-medium {
  background-size:1.5rem;
  height:6rem;
  width:6rem
}
.cl-playButton,
.cl-playButton.-small {
  background-size:1rem;
  height:4rem;
  width:4rem
}

#free-crm-tabs-section.-dark {
  background-color: #fff;
  background-color: var(--cl-color-background-01,var(--dark-theme-background-01));
  color: #213343;
  color: var(--cl-text-color,var(--dark-theme-text-01));
}
.cl-tab-list {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  justify-content: var(--cl-tab-control-align,start);
  list-style: none;
  margin: 0;
  overflow-x: scroll;
  padding: 2px 10% 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.cl-tab-item {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  max-width: 240px;
  min-width: 100px;
}
.cl-tab-button {
  align-items: end;
  background-color: initial;
  border: #0000;
  border-bottom: 4px solid #0000;
  color: #2e475d;
  color: var(--cl-color-text-02);
  cursor: pointer;
  display: inline-flex;
  height: 100%;
  padding: 8px 16px 4px;
  text-align: start;
  text-align: var(--cl-tab-control-align,start);
  width: 100%;
  word-break: break-word;
}
[aria-selected="true"].cl-tab-button {
  border-bottom-color: #192733;
  border-bottom-color: var(--cl-color-border-01);
  color: #213343;
  color: var(--cl-color-text-01);
}

.slider-image{
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.sliderPlace{
  position: relative;
}
.sliderPlace h1{
  background-color: rgba(0,0,0,.5);
  position: absolute;
  right: 0px;
  bottom: 20px;
  color: #fff;
  padding: 10px 20px 10px 50px;
  border-radius: 15px 0 0 0;
  border-right: 15px solid #09b3e4;
}
.profileText{
  width: 100%;
  border-right: 10px solid #09b3e4;
  padding-right: 10px;
}
.profileTextArea{
  width: calc(80% + 10px);
}
.imgPreview{
  display: grid;
}
.imageHolderPage{
  width: 100%;
  display: flex;
  gap:10px;
}
.imageInput{
  width: 20%;
  border-radius: 5px;
  background-color: #eee;
  position: relative;
  padding-top: 20px;
}
.imgPreview input{
  background-color: #fff;
  border: none;
  border: 2px solid orangered;
}
.imgPreview input:hover{
  background-color: orangered;
  color:#fff;
}
.ImageUploadCard-root-1{
  min-height: 100px;
}
.imgPreview img{
  width: 120px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
  margin: auto;
}
.imageTitle{
  position: absolute;
  right: 10px;
  top: 0px;
}
.imageFrame img{
  border: 5px solid #005896;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.MuiPaper-root{
  background-color: transparent !important;
}
.MuiPaper-elevation1{
  box-shadow: none !important;
}
.MuiCardContent-root:last-child{
  padding: 10px !important;
}
.sliderLogo{
  width: 50px;
  height: 50px;
  float: right;
  object-fit: contain;
}
.private-form__messages{
  color:orange;
}
.cartHolder{
  background-color: #fef4ea;
  border: 1px solid #eee;
  box-shadow: -1px -1px 5px #eee;
}

.col4{
  width:25%;
}
.col8{
  width: 75%;
}